<app-file-modal #questionFileModal></app-file-modal>
<div class="row" id="Question" *ngIf="qs.CurrentQuestion">
  <app-question-display style="width:100%;" [question]="qs.CurrentQuestion"></app-question-display>
  <div class="col-12">
    <input type="text" placeholder="ANSWER IN THIS BOX.  IT'S NOT THAT COMPLICATED" class="form-control" #Answer (keyup.enter)="submitAnswer(Answer)"/>
  </div>
  <div class="col-md-offset-2 col-md-10">
    <input type="submit" value="I'm Right, of course" class="btn btn-large" id="SubmitarizeIt" (click)="submitAnswer(Answer)" *ngIf="dismissedVerdict" />
  </div>
</div>
<button class="btn btn-success" (click)="openQuestions()" *ngIf="!qs.CurrentQuestion">Open Questions</button>

<div id="Verdict" class="jumbotron" [ngClass]="verdict.WasCorrect?'bg-success':'bg-danger'" *ngIf="verdict&&!dismissedVerdict">
  <h1 id="VerdictText" class="">{{verdict.Header}}</h1>
  <small id="VerdictElaboration" class="text-dark">{{verdict.Elaboration}}</small>
  <div id="IncorrectAnswerBox" *ngIf="!verdict.WasCorrect">
    <h3>Correct Answer:</h3>
    <p id="CorrectAnswerText">{{verdict.CorrectAnswer}}</p>
  </div>
  <div><input type="button" value="{{verdict.ConceedPrompt}}" class="btn btn-large" [ngClass]="verdict.WasCorrect?'text-success':'text-danger'" (click)="dismissedVerdict = true;askNewQuestion();"/></div>

</div>
