<app-file-modal #fileModal></app-file-modal>


<div class="card">
  <div class="card-header">
    <h3 class="lead">
      Questions
      <span class="badge badge-dark float-right">{{qs.ActiveQuestions.length}} Q's</span>
      <button (click)="log()">AQ</button>
    </h3>
  </div>
  <div class="card-body">
    <div class="alert alert-primary">
      {{qs.QuestionsLoaded()? "Guess what?  There are questions loaded.":"You have no questions!"}}
    </div>
    <app-question-hierarchy-editor [questionNode]="qs.RootNode" (questionChange)="hierarchyQuestionAdded()"></app-question-hierarchy-editor>
  </div>

  <div class="card-footer">
    <button class="btn btn-large col-xs-12 col-sm-6 btn-dark" (click)="uploadClick()">Upload File</button>
    <button class="btn btn-large col-xs-12 col-sm-6 qbtn-add" (click)="addNodeClick()">Add Node</button>
  </div>
</div>
<br />
<div *ngIf="continueUrl!=null" class="card text-white" [ngClass]="qs.QuestionsLoaded()? 'border-dark' : 'bg-danger'">
  <div class="card-header">
    <div>
      <a class="btn float-right" [ngClass]="qs.QuestionsLoaded()?'btn-success':'btn-secondary disabled'" (click)="continueClick()">Continue</a>
      <small *ngIf="!qs.QuestionsLoaded(); else questionsLoaded" class="card-text">Please open or create at least one question before continuing</small>
      <ng-template #questionsLoaded>
        <i class="lead card-text text-dark">{{continueUrl}}</i>
      </ng-template>
    </div>
  </div>
</div>
