<app-file-modal #fileModal></app-file-modal>

<div class="card">
  <div class="card-header">
    <h3 class="lead float-left">
      Questions
      <span class="badge badge-dark">{{qs.AllQuestions.length}} Questions's</span>
      <span class="badge badge-success">{{qs.ActiveQuestions.length}} Active</span>
    </h3>
    <button class="float-right btn btn-secondary btn-sm" (click)="save()">Save</button>
  </div>
  <div class="card-body">
    <div *ngIf="!qs.QuestionsLoaded()" class="alert alert-warning">
      You have no selected questions!
    </div>
    <app-question-hierarchy-editor [questionNode]="qs.RootNode" (questionChange)="hierarchyQuestionAdded()" (selectChange)="selectionChanged()" selectMode="true" questionMode="true" fullySelectable="false"></app-question-hierarchy-editor>
  </div>
</div>
<br />
<div class="row">
  <div class="sm-prompt" [ngClass]="continueUrl==null ? 'col-md-6' : 'col-md-4'">
    <div class="sm-prompt-inner" routerLink="/Questions" (click)="uploadClick()">
      <p>
        <fa-icon icon="upload" size="2x"></fa-icon>
        <br />
        Upload Questions
      </p>
    </div>
  </div>
  <div class="sm-prompt" [ngClass]="continueUrl==null ? 'col-md-6' : 'col-md-4'">
    <div class="sm-prompt-inner" routerLink="/Questions">
      <p>
        <fa-icon icon="file-import" size="2x"></fa-icon>
        <br />
        Import Questions
    </div>
  </div>
  <div *ngIf="continueUrl!=null" class="sm-prompt col-md-4">
    <div class="sm-prompt-inner"  [ngClass]="qs.QuestionsLoaded()? 'bg-light' : 'bg-danger'" (click)="continueClick()">
      <p>
        <fa-icon icon="arrow-right" size="2x"></fa-icon>
        <br />
        Continue
        <br />
        <small><i *ngIf="qs.QuestionsLoaded()" class="text-muted">{{continueUrl}}</i></small>
      </p>
    </div>
  </div>
</div>

