<h1>Edumater:  How does it work?</h1>
<br />
<div id="about-box">
  <h3>Overview</h3>
  <p>Edumater is designed to ask questions based on an intelligent algorithm the user can modify to fit their needs.  What makes Edumater special is that it's designed to keep asking you the same questions over and over again over an extended period time (i.e., weeks or months) to ingrain the information into the user's brain.</p>
</div>

<div id="about-box">
  <h3>Step One:  Questions</h3>
  <p>The entire process starts with the questions.  Questions can be added to your database at any point an time with the help of the <a routerLink="/Questions">Question Manager</a>.  Questions are organized into <i>Nodes</i>, which are very similar to the files and folders in an everyday computer's hard drive.  Nodes can be added, removed and dragged around.  And, more imporantly, every node can have questions attached to it with the "Add Question" button.</p>
  <p>These nodes stick around until you close Edumater's tab.  So:  Save your stuff, and save it often, or you'll lose your questions.  You have three options to save with different organization patterns.  "Monolith" dumps everything into a single hard-to-edit file.  The other methods allow you to add and remove nodes from outside Edumater. </p>
</div>

<div id="about-box">
  <h3>Step Two:  Scoresheets</h3>
  <p>Scoresheets define the algorithm which selects questions.  Based on a number of criteria (including the numbers of times every question has been answered correctly, incorrectly, the time since it was last answered, and a user-specified Priority value), Edumater will choose the highest-value question every time a user needs to ask another question.  This selection is based on the <i>Current Scoresheet,</i> which can be changed, tuned, uploaded, and saved from the <a routerLink="/Scoresheets">Scoresheet Manager</a>.  At the bottom of the page is a particularly useful link, the <i>Scoresheet Tuner</i>, which lets you choose an example question and fine-tune the scoresheet around it in real-time.</p>
</div>

<div id="about-box">
  <h3>Step Three:  Ask Away!</h3>
  <p>With questions loaded and a scoresheet setup (the default scoresheet will usually do), you can head to the <a routerLink="/Questions/Ask">Questioner</a> and start learning.  As you do, Edumater will keep track of what questions you've gotten right and wrong, and decide on the best question to ask you from that.  If you ever happenn to come up with some new fact to add to your database, you can always go back the <a routerLink="/Questions">Question Manager</a> and add it.</p>
</div>

<div id="author-box-box">
  <div id="author-box">
    <h3>About the author</h3>
    <p>The name's Niewohner.</p>
    <p>Lucas, Niewohner</p>
    <p>He's pretty cool, and makes websites.  And other nerdy stuff.</p>
  </div>
</div>
