<app-file-modal #questionFileModal></app-file-modal>

<div class="row">
  <div id="land-head" class="col-12">
    <h1 class="text-center">EDUMATER</h1>
    <p>Welcome to the Edumater, a totally incredible learning tool by Lucas Niewohner</p>
  </div>
  <div class="col-md-3 sm-prompt">
    <div class="sm-prompt-inner" routerLink="/About">
      <p>
        <fa-icon icon="question" size="2x"></fa-icon>
        <br />
        How does it work?
      </p>
    </div>
  </div>
  <div class="col-md-3 sm-prompt">
    <div class="sm-prompt-inner" routerLink="/Scoresheets">
      <p>
        <fa-icon icon="tools" size="2x"></fa-icon>
        <br />
        Manage Scoresheet
      </p>
    </div>
  </div>
  <div class="col-md-3 sm-prompt">
    <div class="sm-prompt-inner" routerLink="/Questions">
      <p>
        <fa-icon icon="graduation-cap" size="2x"></fa-icon>
        <br />
        Manage Questions
      </p>
    </div>
  </div>
  <div class="col-md-3 sm-prompt">
    <div class="sm-prompt-inner" routerLink="/Questions/Ask">
      <p>
        <fa-icon icon="arrow-right" size="2x"></fa-icon>
        <br />
        Ask Away!
      </p>
    </div>
  </div>
</div>
