<div class="jumbotron">
  <h1>Woot, welcome to the home page.</h1>
  <small>(There's nothing here)</small>
  <br />
  <p>If you care to do something of value, check out the "Questioner" page, presently under construction, under this big gratifying  button.</p>
  <a routerLink="/Questioner" class="btn btn-success btn-large">Questioner</a>
  <br />
  <p>Oh hey, there's this other thing down here!</p>
  <app-question-hierarchy-editor [questionNode]="exampleNode"></app-question-hierarchy-editor>
</div>
