<app-file-modal #questionFileModal></app-file-modal>
<div class="jumbotron">
  <h1>Woot, welcome to the home page.</h1>
  <small>(There's nothing here)</small>
  <br />
  <p>If you care to do something of value, check out the "Questioner" page, presently under construction, under this big gratifying  button.</p>
  <a routerLink="/Questions/Ask" class="btn btn-success btn-large">Questioner</a>

</div>

<button (click)="saveTest()" class="btn btn-large btn-success" style="z-index:10;">SAVE!!</button>
