<ng-template #scoresheetModal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" [ngSwitch]="currentOperation">
      <span *ngSwitchCase="ScoresheetOperation.Save">Save Scoresheet</span>
      <span *ngSwitchCase="ScoresheetOperation.Load">Load Scoresheet</span>
      <span *ngSwitchDefault>Unknown Operation</span>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Exit click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <ng-container [ngSwitch]="currentOperation">
          <ng-container *ngSwitchCase="ScoresheetOperation.Save">
            <label for="scoresheetInput">Save File Name</label>
            <input [(ngModel)]="saveFilename" (keyup.enter)="scoresheetModalSubmit()" name="scoresheetInput" id="scoresheetInput" class="form-control" type="text">
          </ng-container>
          <ng-container *ngSwitchCase="ScoresheetOperation.Load">
            <label for="scoresheetInput">Open ".scoresheet.json" File</label>
            <input id="scoresheetInput" class="form-control-file" type="file">
          </ng-container>
          <h3 *ngSwitchDefault class="text-danger">Unknown Operation</h3>
        </ng-container>
        <small class="text-danger form-text">{{errorText}}</small>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-dark" (click)="scoresheetModalSubmit()" [ngSwitch]="currentOperation">
      <span *ngSwitchCase="ScoresheetOperation.Save">Save</span>
      <span *ngSwitchCase="ScoresheetOperation.Load">Load</span>
      <span *ngSwitchDefault>Unknown Operation</span>
    </button>
  </div>
</ng-template>

<div class="row">
  <div class="col-12 p-4" id="sm-preview">
    <p class="lead">Current Scoresheet:  {{scoreService.scoresheetName}}</p>
    <app-scoresheet-editor [scoresheet]="scoreService.CurrentScoresheet"></app-scoresheet-editor>
  </div>
  <div class="col-md-3 sm-prompt">
    <div class="sm-prompt-inner" (click)="loadScoresheet(scoresheetModal)">
      <p>
        <fa-icon icon="upload" size="2x"></fa-icon>
        <br />
        Load
      </p>
    </div>
  </div>
  <div class="col-md-3 sm-prompt">
    <div class="sm-prompt-inner" (click)="saveScoresheet(scoresheetModal)">
      <p>
        <fa-icon icon="download" size="2x"></fa-icon>
        <br />
        Save
      </p>
    </div>
  </div>
  <div class="col-md-3 sm-prompt">
    <div class="sm-prompt-inner" routerLink="/Scoresheets/Tune">
      <p>
        <fa-icon icon="flask" size="2x"></fa-icon>
        <br />
        Tune
      </p>
    </div>
  </div>
  <div class="col-md-3 sm-prompt">
    <div class="sm-prompt-inner" routerLink="/Questions/Ask">
      <p>
        <fa-icon icon="arrow-right" size="2x"></fa-icon>
        <br />
        Questioner
      </p>
    </div>
  </div>
</div>
