
<ng-template #questionModal let-c="close">
  <div class="modal-dialogue modal-lg">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{modalQuestionNode.Name || "(name)"}}</h4>
    </div>
    <div class="modal-body">
      <app-question-set-editor [questions]="modalQuestionNode.Questions" (questionAdded)="questionChange.emit()"></app-question-set-editor>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
  </div>
</ng-template>

<div>
  <!-- Some fancy mumbo jumbo to insert the title into the checkbox in selectMode, and just leave in the open otherwise. -->
  <ng-template #Title>
    <span *ngIf="!questionNode.EditName; else nameEditor">
      {{questionNode.Name || "(name)"}}
      <i class="fa fa-pencil editNameButton" aria-hidden="true" (click)="nameEdit()"></i>
    </span>
  </ng-template>
  <mat-checkbox *ngIf="selectMode; else Title" (change)="selectChange($event.checked)" [indeterminate]="selectIndeterminate" [checked]="questionNode.Selected"><ng-container *ngTemplateOutlet="Title"></ng-container></mat-checkbox>
  <!-- (Here ends the mumbo jumo.  Well, at least, this particular mumbo jumbo) -->

  <ng-template #nameEditor><input type="text" [(ngModel)]="questionNode.Name" (keyup.enter)="questionNode.EditName=false" (blur)="questionNode.EditName=false" /></ng-template>

  <button class="float-right btn btn-sm qn-btn" (click)="addChild()">Add Child</button>
  <button class="float-right btn btn-sm qn-btn" [ngClass]="questionNode.Expanded?'btn-secondary':'btn-outline-secondary'" (click)="expandChildren()" *ngIf="(questionNode.Children!=null)&&(questionNode.Children.length>0)&&isChild">{{questionNode.Children.length}} Children</button>

  <ng-container *ngIf="!selectMode">
    <button class="float-right btn btn-sm btn-secondary qn-btn" (click)="viewQuestions()" *ngIf="questionNode.Questions&&questionNode.Questions.length>0; else addQuestionTemplate">{{questionNode.Questions.length}} Questions</button>
    <ng-template #addQuestionTemplate><button class="float-right btn btn-sm qn-btn" (click)="addQuestion()">Add Question</button></ng-template>
  </ng-container>
  <button class="float-right btn btn-sm btn-dark qn-btn" (click)="remove()" *ngIf="isChild">Remove</button>
</div>

<div *ngIf="!isChild||questionNode.Expanded">
  <hr id="root-hr"/>
  <ul class="list-group" *ngIf="questionNode.Children" [(dragulaModel)]="questionNode.Children" dragula="QUESTION_NODES">
    <li class="list-group-item" *ngFor="let childNode of questionNode.Children; let i = index;">
      <app-question-hierarchy-editor [questionNode]="childNode" isChild="true" (removeRequest)="removeChild(i)" (moveRequest)="moveChild(i,$event)" [selectMode]="selectMode" (selectChange)="childSelectChange($event)" [fullySelectable]="fullySelectable" (questionChange)="questionChange.emit()"></app-question-hierarchy-editor>
    </li>
  </ul>
</div>

