
<ul class="list-group" *ngIf="questionNode.Children">
  <li class="list-group-item" *ngFor="let childNode of questionNode.Children">
    <div>
      <span *ngIf="!childNode.EditName; else nameEditor">
        {{childNode.Name || "(name)"}}
        <i class="fa fa-pencil editNameButton" aria-hidden="true" (click)="toggleNameEdit(childNode)"></i>
      </span>
      <ng-template #nameEditor><input type="text" [(ngModel)]="childNode.Name" (keyup.enter)="childNode.EditName=false"/></ng-template>

      <button class="float-right btn btn-sm btn-secondary" (click)="expandQuestions(childNode)" *ngIf="childNode.Questions&&childNode.Questions.length>0; else addQuestionTemplate">Questions</button>
      <ng-template #addQuestionTemplate><button class="float-right btn btn-sm" (click)="addQuestion(childNode)">Add Question</button></ng-template>
      <button class="float-right btn btn-sm btn-secondary" (click)="expandChildren(childNode)" *ngIf="childNode.Children; else addChildTemplate">Children</button>
      <ng-template #addChildTemplate><button class="float-right btn btn-sm" (click)="addChild(childNode)">Add Child</button></ng-template>
    </div>
    <div *ngIf="childNode.Expanded">
      <hr />
      <app-question-hierarchy-editor [questionNode]="childNode"></app-question-hierarchy-editor>
    </div>
  </li>
</ul>
<app-question-set-editor *ngIf="questionNode.QuestionsVisible" [questions]="questionNode.Questions"></app-question-set-editor>
